# TD backup files
Backup/
haxlib.*.toe

# AppStore / config
.env
data/text/app-store.tsv

# TDPyEnvManager
*_vEnv/
TDPyEnvManagerContext.json

# Demos
tox/demo

# Other common ignores
_assets
*Thumbs.db
.DS_Store
*.log
output/
tmp/
python/_local_modules
node_modules
_modules
logs/
